In [1]:
import requests
url = "https://drive.google.com/uc?export=download&id=125o7TvA2A-1xbJniSBdWTzl-3PEGv_bT"
r = requests.get(url)
open('seoul.csv', 'wb').write(r.content)

32628175

In [ ]:
import pandas as pd
df = pd.read_csv('seoul.csv')
# 상권코드명

In [ ]:
office_df = pd.read_csv('상권명_주소매핑.csv')  # 상권명

In [20]:
seoul_df = pd.merge(df,office_df,how='left',left_on='상권코드명',right_on='상권명')
seoul_df.head(2)

,Unnamed: 0,기준년분기코드,상권구분코드,상권구분코드명,상권코드,상권코드명,서비스업종코드,서비스업종코드명,당월매출금액,당월매출건수,...,연령대10매출건수,연령대20매출건수,연령대30매출건수,연령대40매출건수,연령대50매출건수,연령대60이상매출건수,상권명,address_name,x,y
0,0,20241,A,골목상권,3110001,이북5도청사,CS100001,한식음식점,385150643,11743,...,26,508,935,1997,3135,3704,이북5도청사,서울 종로구 구기동 139,126.955982,37.614331
1,1,20241,A,골목상권,3110001,이북5도청사,CS100009,호프-간이주점,11026440,214,...,0,0,0,32,55,95,이북5도청사,서울 종로구 구기동 139,126.955982,37.614331

In [38]:
# 결측치 제거
not_null_seroul_df = seoul_df.dropna(subset=['address_name'])
(not_null_seroul_df.isna().sum())[not_null_seroul_df.isna().sum()>0]

Series([], dtype: int64)

In [39]:
not_null_seroul_df['행정구역명'] = not_null_seroul_df['address_name'].apply(lambda x : x.split()[1])

C:\Users\playdata2\AppData\Local\Temp\ipykernel_21124\1396691562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_null_seroul_df['행정구역명'] = not_null_seroul_df['address_name'].apply(lambda x : x.split()[1])

In [40]:
not_null_seroul_df.columns = not_null_seroul_df.columns.str.replace('당월매출금액','월매출금액')
not_null_seroul_df.columns = not_null_seroul_df.columns.str.replace('당월매출건수','월매출건수')

In [43]:
not_null_seroul_df.to_csv('clean_seoul.csv')

In [44]:
# https://drive.google.com/file/d/1cMz6B830MdnSzxHp3pmrNJv_BEykZ2Dc/view?usp=sharing
import requests
url = "https://drive.google.com/uc?export=download&id=1cMz6B830MdnSzxHp3pmrNJv_BEykZ2Dc"
r = requests.get(url)
open('clean_seoul.csv', 'wb').write(r.content)

38243285