In [1]:
key =  '70794a6f4d70696138305243626973'

In [2]:
url = f'http://openapi.seoul.go.kr:8088/{key}/json/bikeList/1/5/'
print(url)

http://openapi.seoul.go.kr:8088/70794a6f4d70696138305243626973/json/bikeList/1/5/

In [3]:
import requests
import json
import pandas as pd

In [4]:
response = requests.get(url)  # 요청
print(f'상태코드 : {response.status_code}')

상태코드 : 200

In [8]:
print(response.text)  # 응답은 json형태--> 딕셔너리데이터들을 문자열로 만들어진것

{"rentBikeStatus":{"list_total_count":5,"RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다."},"row":[{"rackTotCnt":"15","stationName":"102. 망원역 1번출구 앞","parkingBikeTotCnt":"24","shared":"160","stationLatitude":"37.55564880","stationLongitude":"126.91062927","stationId":"ST-4"},{"rackTotCnt":"14","stationName":"103. 망원역 2번출구 앞","parkingBikeTotCnt":"16","shared":"114","stationLatitude":"37.55495071","stationLongitude":"126.91083527","stationId":"ST-5"},{"rackTotCnt":"13","stationName":"104. 합정역 1번출구 앞","parkingBikeTotCnt":"5","shared":"38","stationLatitude":"37.55073929","stationLongitude":"126.91508484","stationId":"ST-6"},{"rackTotCnt":"5","stationName":"105. 합정역 5번출구 앞","parkingBikeTotCnt":"0","shared":"0","stationLatitude":"37.55000687","stationLongitude":"126.91482544","stationId":"ST-7"},{"rackTotCnt":"12","stationName":"106. 합정역 7번출구 앞","parkingBikeTotCnt":"1","shared":"8","stationLatitude":"37.54864502","stationLongitude":"126.91282654","stationId":"ST-8"}]}}

In [9]:
data = json.loads(response.text)
print(data)

{'rentBikeStatus': {'list_total_count': 5, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다.'}, 'row': [{'rackTotCnt': '15', 'stationName': '102. 망원역 1번출구 앞', 'parkingBikeTotCnt': '24', 'shared': '160', 'stationLatitude': '37.55564880', 'stationLongitude': '126.91062927', 'stationId': 'ST-4'}, {'rackTotCnt': '14', 'stationName': '103. 망원역 2번출구 앞', 'parkingBikeTotCnt': '16', 'shared': '114', 'stationLatitude': '37.55495071', 'stationLongitude': '126.91083527', 'stationId': 'ST-5'}, {'rackTotCnt': '13', 'stationName': '104. 합정역 1번출구 앞', 'parkingBikeTotCnt': '5', 'shared': '38', 'stationLatitude': '37.55073929', 'stationLongitude': '126.91508484', 'stationId': 'ST-6'}, {'rackTotCnt': '5', 'stationName': '105. 합정역 5번출구 앞', 'parkingBikeTotCnt': '0', 'shared': '0', 'stationLatitude': '37.55000687', 'stationLongitude': '126.91482544', 'stationId': 'ST-7'}, {'rackTotCnt': '12', 'stationName': '106. 합정역 7번출구 앞', 'parkingBikeTotCnt': '1', 'shared': '8', 'stationLatitude': '37.54864502', 'stationLongitude': '126.91282654', 'stationId': 'ST-8'}]}}

In [11]:
data['rentBikeStatus']['row']

[{'rackTotCnt': '15',
  'stationName': '102. 망원역 1번출구 앞',
  'parkingBikeTotCnt': '24',
  'shared': '160',
  'stationLatitude': '37.55564880',
  'stationLongitude': '126.91062927',
  'stationId': 'ST-4'},
 {'rackTotCnt': '14',
  'stationName': '103. 망원역 2번출구 앞',
  'parkingBikeTotCnt': '16',
  'shared': '114',
  'stationLatitude': '37.55495071',
  'stationLongitude': '126.91083527',
  'stationId': 'ST-5'},
 {'rackTotCnt': '13',
  'stationName': '104. 합정역 1번출구 앞',
  'parkingBikeTotCnt': '5',
  'shared': '38',
  'stationLatitude': '37.55073929',
  'stationLongitude': '126.91508484',
  'stationId': 'ST-6'},
 {'rackTotCnt': '5',
  'stationName': '105. 합정역 5번출구 앞',
  'parkingBikeTotCnt': '0',
  'shared': '0',
  'stationLatitude': '37.55000687',
  'stationLongitude': '126.91482544',
  'stationId': 'ST-7'},
 {'rackTotCnt': '12',
  'stationName': '106. 합정역 7번출구 앞',
  'parkingBikeTotCnt': '1',
  'shared': '8',
  'stationLatitude': '37.54864502',
  'stationLongitude': '126.91282654',
  'stationId': 'ST-8'}]

In [12]:
pd.DataFrame( data['rentBikeStatus']['row']  )

,rackTotCnt,stationName,parkingBikeTotCnt,shared,stationLatitude,stationLongitude,stationId
0,15,102. 망원역 1번출구 앞,24,160,37.55564880,126.91062927,ST-4
1,14,103. 망원역 2번출구 앞,16,114,37.55495071,126.91083527,ST-5
2,13,104. 합정역 1번출구 앞,5,38,37.55073929,126.91508484,ST-6
3,5,105. 합정역 5번출구 앞,0,0,37.55000687,126.91482544,ST-7
4,12,106. 합정역 7번출구 앞,1,8,37.54864502,126.91282654,ST-8

In [13]:
bike = pd.DataFrame( data['rentBikeStatus']['row']  )

In [14]:
# 필요한 컬럼만 추출
new_cols =  ['stationName','stationLatitude','stationLongitude','rackTotCnt','parkingBikeTotCnt']
new_bike = bike.loc[ :  , new_cols ]
new_bike

,stationName,stationLatitude,stationLongitude,rackTotCnt,parkingBikeTotCnt
0,102. 망원역 1번출구 앞,37.55564880,126.91062927,15,24
1,103. 망원역 2번출구 앞,37.55495071,126.91083527,14,16
2,104. 합정역 1번출구 앞,37.55073929,126.91508484,13,5
3,105. 합정역 5번출구 앞,37.55000687,126.91482544,5,0
4,106. 합정역 7번출구 앞,37.54864502,126.91282654,12,1

In [19]:
new_bike['parkingBikeTotCnt'] = new_bike['parkingBikeTotCnt'].astype(int)

In [20]:
new_bike['rackTotCnt'] = new_bike['rackTotCnt'].astype(int)

In [ ]:
# 파생변수
# 이용율 = 주차된자전거수 / 총 거치대수
# 소수 2자리에서 반올림
(new_bike['parkingBikeTotCnt'] / new_bike['rackTotCnt']).round(2)

0    1.60
1    1.14
2    0.38
3    0.00
4    0.08
dtype: float64

In [25]:
# use_rate 이름으로 추가
new_bike['use_rate'] = (new_bike['parkingBikeTotCnt'] / new_bike['rackTotCnt']).round(2)

In [26]:
new_bike

,stationName,stationLatitude,stationLongitude,rackTotCnt,parkingBikeTotCnt,use_rate
0,102. 망원역 1번출구 앞,37.55564880,126.91062927,15,24,1.60
1,103. 망원역 2번출구 앞,37.55495071,126.91083527,14,16,1.14
2,104. 합정역 1번출구 앞,37.55073929,126.91508484,13,5,0.38
3,105. 합정역 5번출구 앞,37.55000687,126.91482544,5,0,0.00
4,106. 합정역 7번출구 앞,37.54864502,126.91282654,12,1,0.08

In [34]:
# 분모가 0이면 0으로 나누어서 에러가 발생
# 분모가 0이면 값을 0으로 처리하기
result = []
for i in range(len(new_bike)):
    if new_bike['rackTotCnt'][i] == 0:
        result.append(0)
    else:
        result.append( new_bike['parkingBikeTotCnt'][i] / new_bike['rackTotCnt'][i]   )

new_bike['use_rate'] = result

In [35]:
new_bike

,stationName,stationLatitude,stationLongitude,rackTotCnt,parkingBikeTotCnt,use_rate
0,102. 망원역 1번출구 앞,37.55564880,126.91062927,15,24,1.600000
1,103. 망원역 2번출구 앞,37.55495071,126.91083527,14,16,1.142857
2,104. 합정역 1번출구 앞,37.55073929,126.91508484,13,5,0.384615
3,105. 합정역 5번출구 앞,37.55000687,126.91482544,5,0,0.000000
4,106. 합정역 7번출구 앞,37.54864502,126.91282654,12,1,0.083333

In [37]:
# new_bike  rackTotCnt	parkingBikeTotCnt	use_rate 에대한 기술통계
new_bike[ ['rackTotCnt',	'parkingBikeTotCnt',	'use_rate' ]  ].describe()

       rackTotCnt  parkingBikeTotCnt  use_rate
count    5.000000           5.000000  5.000000
mean    11.800000           9.200000  0.642161
std      3.962323          10.425929  0.699847
min      5.000000           0.000000  0.000000
25%     12.000000           1.000000  0.083333
50%     13.000000           5.000000  0.384615
75%     14.000000          16.000000  1.142857
max     15.000000          24.000000  1.600000

In [ ]:
# 이용율이 높은순으로 정렬 내림차순   top3
new_bike.sort_values(by = ['use_rate'],ascending=False)[:3]

,stationName,stationLatitude,stationLongitude,rackTotCnt,parkingBikeTotCnt,use_rate
0,102. 망원역 1번출구 앞,37.55564880,126.91062927,15,24,1.600000
1,103. 망원역 2번출구 앞,37.55495071,126.91083527,14,16,1.142857
2,104. 합정역 1번출구 앞,37.55073929,126.91508484,13,5,0.384615

In [41]:
new_bike.sort_values(by = ['use_rate'],ascending=False)[:3][['stationName','use_rate']]

       stationName  use_rate
0  102. 망원역 1번출구 앞  1.600000
1  103. 망원역 2번출구 앞  1.142857
2  104. 합정역 1번출구 앞  0.384615

In [43]:
# 저장
final_bike = new_bike.sort_values(by = ['use_rate'],ascending=False)[:3][['stationName','use_rate']]
final_bike.to_csv('final.csv',index=False, encoding='utf-8')